mixin block(title, title2, title3, title4, title5)
  .partners-block.col-xl-4.col-md-6.col-12
    span.partners-block__title=title
    .partners-block__section
      ul.partners-block__rating-list
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
      span.partners-block__section-title=title2
    .partners-block__section
      ul.partners-block__rating-list
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
      span.partners-block__section-title=title3
    .partners-block__section
      ul.partners-block__rating-list
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
      span.partners-block__section-title=title4
    .partners-block__section
      ul.partners-block__rating-list
        li.partners-block__rating-item
        li.partners-block__rating-item
        li.partners-block__rating-item
      span.partners-block__section-title=title5
.partners.block
  .container
    .partners__container
      h2.title.title_style1
        svg.icon <use xlink:href="img/icons/icons-sprite.svg#ico2"></use>
        | ПАРТНЁРЫ СРЕДИ ОТЕЛЕЙ
      .partners__content.row
        +block('МОСКВА', 'Метрополь', 'Марко Поло Пресня', 'Гостиница Мандарин', 'Сеть отелей Ibis')
        +block('САНКТ-ПЕТЕРБУРГ', 'Radisson Royal Hotel', 'Отель Амбассадор', 'Novotel Centre', 'Eurasia Hotels Group')
        +block('СОЧИ', 'Radisson Blu Resort', 'Горки Панорама', 'ГК Имеретинский', 'ГО Бархатные сезоны')
        +block('НОВОСИБИРСК', 'Марриотт', 'Mirotel', 'АО Резидент Жуковка', 'Отель Династия')
        +block('ЕКАТЕРИНБУРГ', 'Hyatt Regency', 'Novotel Centre', 'Отель Вознесенский', 'Грин Парк Отель')
        +block('КРАСНОЯРСК', 'Hilton Garden Inn', 'Novotel Center', 'Ibis Center', 'ГК Огни Енисея')